.container {
  width: 900px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: block;
  margin: 10px auto;
}

.box-12 {
  width: 100%;
  display: block;
  margin: 0 10px;
}

.box-6 {
  width: 47.5%;
  display: inline-block;
  background-color: #ff253a;
  margin: 0 10px;
}

.box-4 {
  width: 30.8%;
  display: inline-block;
  background-color: #ff253a;
  margin: 0 10px;
}

.box-3 {
  width: 22.44%;
  margin: 0 10px;
  display: inline-block;
  background-color: green;
}

.box-2 {
  width: 14.07%;
  display: inline-block;
  background-color: green;
  margin: 0 10px;
}

.box-1 {
  width: 10%;
  display: inline-block;
  margin: 0 10px;
}
