.container {
  width: 900px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: block;
  margin: 10px auto;
}

.box-12 {
  width: 100%;
  display: block;
}

.box-6 {
  width: 49.7%;
  display: inline-block;
}

.box-4 {
  width: 32.7%;
  display: inline-block;
}

.box-3 {
  width: 22.5%;
  display: inline-block;
}

.box-2 {
  width: 10%;
  display: inline-block;
}

.box-1 {
  width: 10%;
  display: inline-block;
}
